.text-principal{
    color: #d4a686 !important;

}
.bg-principal{
    color: #B7B597 !important;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}
